:root {
    --brightness: 50%;
}

body {
    background-color: hsl(220, 80%, var(--brightness));
    display: flex;
    justify-content: center;
    transition: background-color 0.1s;
}

h1 {
    color: indianred;
}