body {
    margin: 0;
    min-height: 100vh;
    background: url("branco.jpg") center/cover no-repeat fixed;
}

#next {
    background: url("banan.jpg") center/cover no-repeat fixed;
}

footer {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: larger;
    margin-left: 20px;

    cursor: pointer;

    border: none;
    border-radius: 5px;

    background-color: rgb(184, 184, 184);
}

#rulletekster {
    background-color: gray;
    color: white;
}
#rulletekster:hover {
    opacity: 90%;
}

h1 {
    padding-left: 60px;
    padding-top: 40px;
    color: white;

    text-shadow: 3px 3px black;

    font-size: 2.5rem;
}